@charset "UTF-8";

:root{
    --color1: #2A8C82;
    --color2: #41BFB3;
    --color3: #9BF2EA;
    --color4: #275950;
    --color5: #260101;

}

*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: var(--color4);
}

article{
    background-color: white;
    height: 500px;
    width: 260px;
    border-radius: 20px;
    margin: auto;
    
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;

}

#formulario{
    
}

#formulario > h1{
    text-align: center;
    margin-top: 10px;
    font-size: 1.5em;
    
}

#formulario > p{
    text-align: justify;
    font-size: 0.9em;
    margin: 10px;
}

#imagem{
    display: block;
    background: url(../imagens/istockphoto-1368151370-2048x2048.jpg) no-repeat;
    background-size: cover;
    height: 200px;
}
