*{
    margin: 0px;
    padding: 10px;
}

body{
    background-color: #dbdadaec;
}

header{
    
    text-align: center;
}

#art_img{
    background-color: white;
    width: 98%;
    margin: auto;

    & p{
        text-align: center;
    }
}

#art_img > img{
    display: block;
    margin: auto;
}

#ul_li {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Opcional: define a altura da seção para ocupar toda a altura da tela */
}

.box {
    width: 80%; /* Define a largura do conteúdo */
    max-width: 450px; /* Define a largura máxima do conteúdo */
    font-size: 14px;
}

ul{
    
    margin: -25px;
   
}