*{
    padding: 0px;
    margin: 0px;
}

body{
  background-color: rgb(168, 168, 236);
}

#centerform{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* 100% da altura da viewport */
  margin: 0;
}

h1{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 200px;
  margin-bottom: -250px;
  
}

input{
  border-radius: 5px;
  height: 20px;
  width: 500px;

}

input[type="radio"]{
   width: 100px;
 }

form{
  padding: 10px;
  
}

input{
  margin-top: 5px ;
}
#fem_label{
  padding-left: 35px;
}

#dados_acesso{
  margin-top: 50px;
}