*{
    padding: 0px;
    margin: 0px;
}

body{
  background-color: #FFFFFF;
}

header{
  width: 100%;
  height: 105px;
  background-color: #F7F7F7
}

header > img{
  margin-top: 40px;
  margin-left: 400px;
}

 #containernav{
  display: flex;
  margin-left: 800px;
  margin-top: -25px;

}

div nav{
  color: #0033C6;
  font-family: 'Nunito', sans-serif;
}

nav{
 padding-left: 60px;
}

nav > img{
  padding-right: 10px;
}



#centerform{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* 100% da altura da viewport */
  margin: 0;
}

h1{
  margin-left: 400px;
  margin-top: 160px;
  margin-bottom: -140px;
  color: #0033C6 ;
  font-family: 'Nunito', sans-serif;
  font-size: 2.8em;
  
}

input{
  border-radius: 5px;
  border: 1px solid rgba(128, 128, 128, 0.329);
  height: 20px;
  width: 500px;
  padding: 7px;
  margin-top: 10px;
  margin-bottom: 20px;

}

input[type="radio"]{
   width: 50px;
 }

 label{
  color: rgb(80, 79, 79);
 }

form{
  padding: 10px;
  
}

input{
  margin-top: 5px ;
}
#fem_label{
  padding-left: 35px;
}

#dados_acesso{
  margin-top: 50px;
}

.espacamento_dadosacesso{
  margin-top: 10px;
  margin-bottom: 15px;
  color: #0033C6 ;
  font-family: 'Nunito', sans-serif;
}


button{
  width: 500px;
  height: 40px;
  display: block;
  margin: auto;
  background-color: #0033C6;
  color: white;
  border: transparent;
  border-radius: 8px;
}